<mat-toolbar color="primary">
	Error Interceptor Demo
</mat-toolbar>

<div class="content-container">
	<button mat-raised-button (click)="localError()">Local front end error</button>
	<button mat-raised-button (click)="failingRequest()">Server request with error</button>
	<button mat-raised-button (click)="successfulRequest()">Successful request showing loading spinner</button>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->